.header {
    width: 100%;
    transition: all 0.3s ease; /* Smooth animation */
    &.sticky-class {
        background: rgba(255, 255, 255, 0.8);
        position: sticky;
        top: 0;
        z-index: 50;
        transition: all 0.3s ease;
        animation: moveDown 0.5s ease-out forwards;
    }
}

@keyframes moveDown {
    0% {
        transform: translateY(-100%); /* Start above the viewport */
        opacity: 0;
    }
    100% {
        transform: translateY(0); /* Move to its original position */
        opacity: 1;
    }
}
