<header class="header" [ngClass]="{ 'sticky-class backdrop-blur-md': isSticky }">
    <div class="py-3 px-6 mx-0 md:mx-12 lg:mx-20 lg:px-20 flex items-center justify-between ">
            <img src="assets/images/logo.png" alt="Company Logo" class="h-16 object-contain" />
        <div class="hidden md:flex gap-8 text-sm font-medium text-gray-600">
            <a href="#" class="hover:text-black transition">Projects</a>
            <a href="#" class="hover:text-black transition">Services</a>
            <a href="#" class="hover:text-black transition">About Us</a>
            <a href="#" class="hover:text-black transition">Contact</a>
        </div>
        <p-button label="Let's Talk" icon="pi pi-comments" [rounded]="true"  />
    </div>
</header>
  
