@use '../../../../../assets/layout/layout.scss' as *;

::ng-deep {
    .tab_card {
        display: flex;
        flex-direction: column;
        height: 80vh;
        border-radius: rem(8);
        overflow: hidden !important;
        margin-block-end: rem(20);

        .p-tabmenu {
            flex-shrink: 0; // keep tab menu height fixed
            z-index: 10;
        }

        .p-tab-active {
            color: var(--primary-color) !important;
        }

        .tab-content {
            flex: 1; // take remaining space
            overflow-y: auto; // scroll only this part
            padding: rem(20); // optional: add padding for content
        }
    }
}
