.hero-clip {
    clip-path: url(#hero-curve);
    /* Fallback */
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
}
       .bg-grid {
            // background-size: 40px 40px;
            background-image: linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
                linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
        }