
<section id="hero"
    class="flex flex-col md:flex-row items-center md:items-start justify-between pt-6 px-6 lg:px-20 overflow-hidden"
    
    >
    <!-- LEFT SIDE CONTENT -->
    <div class="hero-text mx-6 md:mx-0 md:w-1/2 mt-0 md:mt-6">
        <h1 class=" text-6xl font-bold text-gray-900 leading-tight">
            <span class="font-light block">Eu sem integer</span>
            eget magna fermentum
        </h1>
        <p class=" font-normal text-2xl leading-normal md:mt-4 text-gray-700">
            Sed blandit libero volutpat sed cras. Fames ac turpis egestas integer.
            Placerat in egestas erat...
        </p>
        <!-- <p-button  pRipple type="button" label="Learn More" class="!text-xl mt-8 !px-4 !mr-4"></p-button> -->
        <button pButton  pRipple  type="button" label="Get Started" class="!text-xl mt-8 !px-4"></button>
    </div>

    <!-- RIGHT SIDE IMAGE -->
    <div class="hero-image flex justify-center md:justify-end md:w-1/2 mt-6 md:mt-0">
        <img src="https://images.unsplash.com/photo-1551288049-bebda4e38f71?q=80&w=1000&auto=format&fit=crop"
            alt="Hero Image" class="w-9/12 md:w-auto rounded-t-xl"  loading="lazy" decoding="async" />
    </div>
</section>