<footer class="footer_section " id="footer">
    <div class="container-fluid pt-8 pb-4 px-6 lg:px-20 mx-0 my-12 lg:mx-20">
        <div class="footer_inner">
            <div class="footer_content">
                <div class="logo">
                    <img style="filter: brightness(0) invert(1);" src="{{ logo }}" width="213" height="36" />
                    <p class="body2 sub_text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                        eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                        ad minim veniam, quis nostrud exercitation ullamco laboris nisi u.
                    </p>
                    <div class="social_box">
                        <ul class="social_icon">
                            <li class="">
                                <a class="link_nav" href="#">
                                    <i class="rounded_icon text-xs">
                                        <i class="pi pi-facebook"></i>
                                    </i>
                                </a>
                            </li>

                            <li class="">
                                <a class="link_nav" href="#">
                                    <span class="rounded_icon text-xs">
                                        <i class="pi pi-twitter"></i>
                                        <!-- <img src="assets/layout/images/Twitter.png" alt="twitterImage" /> -->
                                    </span>
                                </a>
                            </li>

                            <li class="">
                                <a class="link_nav" href="#">
                                    <i class="rounded_icon text-xs">
                                        <i class="pi pi-linkedin"></i>
                                    </i>
                                </a>
                            </li>

                            <li class="">
                                <a class="link_nav" href="#">
                                    <i class="rounded_icon text-xs">
                                        <i class="pi pi-youtube"></i>
                                    </i>
                                </a>
                            </li>

                            <li class="">
                                <a class="link_nav" href="#">
                                    <i class="rounded_icon text-xs">
                                        <i class="pi pi-instagram"></i>
                                    </i>
                                </a>
                            </li>
                        </ul>
                        <a href="http://localhost:4200/advisor-page" class="advisor_link">Are You an Advisor?</a>
                    </div>
                </div>
                <div class="footer_grid">
                    <div *ngFor="let menu of menuItems" class="footer_grid_item">
                        <h3 class=" text-0 font-semibold !text-white">
                            {{ menu.title }}
                        </h3>
                        <ul class="footer-menu">
                            <li *ngFor="let item of menu.menuItems">
                                <a class="link_nav" [href]="item.link" (click)="$event.preventDefault()">
                                    <i class="rounded_icon text-xs">
                                        <i class="{{ item.icon }}"></i>
                                    </i>
                                    {{ item.label }}
                                </a>
                            </li>
                        </ul>
                        <!-- Display icons below menu -->
                        <!-- <div *ngIf="menu.icons" class="icon-container">
              <a
                *ngFor="let icon of menu.icons"
                [href]="icon.link"
                class="icon-link"
              >
                <i class="{{ icon.icon }}"></i> {{ icon.label }}
              </a>
            </div> -->
                    </div>
                </div>
            </div>
            <div class="w-full flex flex-row justify-between text-white">
                <p class="flex items-center justify-center">©2025 TandaTech</p>
                <div class="foot_nav gap-2">
                    <a href="#" class="mr-3">Terms of use</a>
                    <a href="#" >Cookie policy</a>
                </div>
            </div>
        </div>
    </div>
</footer>

