@use "../../../../../assets/layout/functions" as *;
@use "../../../../../assets/layout/breakpoint" as *;
@use "../../../../../assets/layout/mixins" as *;
@use "../../../../../assets/layout/variables/common" as *;

.footer_section {
  width: 100%;
  // background: hsl(var(--footer_solid_bg));
  background: var(--primary-color);
  .footer_inner {
    width: 100%;
    .footer_content {
      width: 100%;
      display: grid;
      grid-template-columns: scaleValue(100px, 550px) 1fr;
      gap: scaleValue(10px, 100px);
      border-block-end: 1px solid (var(--surface-border) / 0.4);
      padding-block: 20px scaleValue(40px, 60px);
      @include breakpoint(max, xxl) {
        grid-template-columns: scaleValue(100px, 400px) 1fr;
        gap: rem(60);
      }
      @include breakpoint(max, lg) {
        grid-template-columns: 1fr;
        gap: rem(40);
      }
      .logo {
        .sub_text {
          color: white;
          padding-block-start: rem(28);
        }
      }
      .social_box {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 10px;
        padding-block-start: rem(28);

        .social_icon {
          @include displayFlex(row, center, flex-start);
          gap: rem(8);
          li {
            .link_nav {
              width: rem(42);
              height: rem(42);
              border-radius: rem(10);
              @include displayFlex(row, center, center);
              background: rgba(255,255, 255, 0.8);
              // color: white;
            }
          }
        }
        .advisor_link {
          font-size: 15px;
          color: white;
          font-weight: 600;
        }
        @media (max-width: 767px) {
          display: flex;
          align-items: flex-start;
          justify-content: flex-start;
          gap: 20px;
          flex-direction: column;
        }
      }
    }
    .footer_grid {
      width: 100%;
      display: grid;
      color: white;
      grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
      gap: rem(40);
      .footer_grid_item {
        width: 100%;
     
        .footer-menu {
          margin-block-start: rem(24);
          @include displayFlex(column, flex-start, flex-start);
          gap: rem(16);
          .link_nav {
            @include displayFlex(row, center, flex-start);
            gap: 10px;
            position: relative;
            transition: all 0.5s ease, background 0.5s ease;
            color: white;
            &:hover {
              padding-inline-start: 25px;
              text-decoration: underline;
            color: white;
              .rounded_icon {
                scale: 1;
              }
            }
            .rounded_icon {
              @include displayFlex(row, center, center);
              width: 16px;
              height: 12px;
              border-radius: 50%;
              scale: 0;
              position: absolute;
              top: rem(1);
              left: 0;
              bottom: 0;
              margin: auto;
              transition: all 650ms ease, background 500ms ease;
            }
          }

          .icon-container {
            margin-top: 10px;
            display: flex;
            gap: 15px;
          }

          .icon-link {
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 14px;
            color: inherit;
          }

          .icon-link i {
            margin-right: 5px;
            font-size: 16px;
          }
        }
      }
      .icon-container {
        color:  white;
        margin-top: 10px;
        display: flex;
        a {
          margin-right: 10px;
          &:hover {
            text-decoration: underline;
            cursor: pointer;
            color: white;
          }
        }
      }
    }
    .footer_bottom {
      @include displayFlex(row, center, space-between);
      padding-block: rem(30);
      flex-wrap: wrap;
      color: white;
      gap: rem(20);
      .foot_nav {
        width: fit-content;
        @include displayFlex(row, center, flex-start);
        gap: rem(32);
        a {
          &:hover {
            text-decoration: underline;
          }
        }
        @include breakpoint(max, lg) {
          flex-wrap: wrap;
          gap: rem(16);
        }
      }
    }
  }
  @include breakpoint(max, sm) {
    padding-block-end: rem(60);
  }
}

