/* Smooth transition for the accordion content */
.accordion-content {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s cubic-bezier(0.25, 0.1, 0.25, 1),
                padding 0.4s ease;
}


/* This class is toggled by Angular */
.accordion-content.active {
    max-height: 500px; /* Arbitrary large height to allow expansion */
}